
/***********************Popup-galery********************/
.mfp-counter,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  display: none;
}

img.mfp-img {
  padding: 0;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0);

  transition: all 0.2s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;

  transform: scale(1.5);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*******************************************************/

.our-gallery {
  position: relative;
  z-index: 3;

  .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .our-gallery-slider {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .item {
    position: relative;
    overflow: hidden;

    &:hover .overlay {
      opacity: 1;
    }

    a {
      pointer-events: none;

      @media only screen and (min-width : 480px){
        pointer-events: none;
      }
    }
  }

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;

    @media only screen and (min-width : 480px){
      display: block;
    }

    >div {
      position: relative;
      height: 100%;
      border: 2px solid #fff;
    }

    img {
      width: 43px;
      position: absolute;
      top: 50%;
      left: 50%;      
      transform: translate(-50%, -50%);
    }

    .triangle {
      width: 8px;
      border: 8px solid transparent;
    }

    .triangle-left-top {
      border-left: 8px solid #fff;
      border-top: 8px solid #fff;
    }

    .triangle-left-bottom {
      border-bottom: 8px solid #fff;
      border-left: 8px solid #fff;
    }

    .triangle-right-top {
      border-top: 8px solid #fff;
      border-right: 8px solid #fff;
    }

    .triangle-right-bottom {
      border-bottom: 8px solid #fff;
      border-right: 8px solid #fff;
    }
  }

  .owl-dot {
    display: none;
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);

    @media only screen and (min-width : 480px){
      display: inline-block;
    }
  }

  .owl-dot.active {
    background-color: rgba(255,255,255,0.8);
  }
}