.welcome {
  margin-bottom: -100px;
  position: relative;
  z-index: 7;

  .wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    
    &:before {
      display: none;
      content: '';
      background: url("../img/bg-welcome-2.png") left top no-repeat;
      background-size: cover;
      position: absolute;
      z-index: 8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media only screen and (min-width : 1320px){
        display: block;
      }
    }
    

    @media only screen and (min-width : 768px){
      flex-flow: row;
      align-items: flex-start;
    }
  }

  .item {
    width: 100%;
    position: relative;

    @media only screen and (min-width : 768px){
      width: 50%;
    }
  }

  .text {
    display: flex;
    justify-content: flex-end;
  }

  .title {
    max-width: 100%;
    margin: 0;
    padding: 30px 30px 50px;
    border: 1px solid #fff;

    @media only screen and (min-width : 768px){
      max-width: 542px;
    }
  }

  .bg-border {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .description {
    font-family: $second-font;
    @include fontSize(18px);
    font-weight: normal;
    text-align: left;
    text-transform: none;
    line-height: 1.5;

    p {
      padding-top: 30px;
    }
  }

  .photo {
    padding-top: 30px;
    img {
      max-width: 370px;
      width: 100%;
    }
  }
}