.what-do-we-offer {
  position: relative;
  z-index: 6;
  
  .our-offer {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    @media only screen and (min-width : 686px){
      max-width: 656px;
    }

    @media only screen and (min-width : 1135px){
      max-width: 999px;
    }
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    width: 40px;
    height: 70px;
    background-color: #000;
    opacity: 0.7;
    font-size: 0;

    &:hover {
      opacity: 1;
    }
  }

  .owl-prev {
    left: -55px;
    top: 48%;

    &:before {
      content: url("../img/prev.png");
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .owl-next {
    right: -55px;
    top: 48%;

    &:before {
      content: url("../img/next.png");
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item {
    max-width: 313px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    font-family: $second-font;

    .photo {
      min-height: 262px;
      padding-bottom: 35px;
    }

    img {
      width: auto;
      margin: 0 auto;
    }

    .title {
      @include fontSize(20px);
    }
  }

  .alcogol {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 40px;
    margin: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;


    > div {
      flex: 50%;
      display: flex;
      align-items: center;
    }

    .scale {
      border-left: 1px solid #fff;
      justify-content: flex-end;
    }

    input[type=range] {
      -webkit-appearance: none;
      border: 0;
      padding: 0;
      height: 3px;
      background-color: #000;
      background-image: linear-gradient(to right, #1e0a02 0%, #ef981c 100%);

      /*for Chrome*/
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 5px;
        height: 9px;
        border: 1px solid #534031;
        background-color: #fff;
        margin-top: -3.5px;
      }

      /*for FierFox*/
      &::-moz-range-thumb {
        -webkit-appearance: none;
        width: 2.5px;
        height: 9px;
        border-radius: 0;
        border: 1px solid #534031;
        background-color: #fff;
      }

      &::-ms-thumb {
        -webkit-appearance: none;
        width: 5px;
        height: 9px;
        border: 1px solid #534031;
        background-color: #fff;
      }

      &::-webkit-slider-runnable-track {
        height: 3px;
        background-color: #000;
        background-image: linear-gradient(to right, #1e0a02 0%, #ef981c 100%);
      }

      &::-moz-range-track {
        height: 3px;
        background-color: #000;
        background-image: linear-gradient(to right, #1e0a02 0%, #ef981c 100%);
      }

      &::-ms-track {
        height: 3px;
        background-color: #000;
        background-image: linear-gradient(to right, #1e0a02 0%, #ef981c 100%);
      }
    }
  }

  .capacity {
    p {
      display: inline;
    }
    p + p {
      padding-left: 10px;
    }
  }

  .text {
    text-align: left;
  }
}